In [2]:
l1 = [4,5,3,6]
for i in l1:
    print(i)

4
5
3
6

In [5]:
x = print('akshat') 
print(x)

akshat
None

In [13]:
t=(2,)
type(t)

tuple

In [20]:
# n1*n2
n1 = int(input('enter n1'))
n2 = int(input('enter n2'))
l = []
l1 = []
for i in range(n1):
    for j in range(n2):
        x = input('enter the number')
        l1.append(x)
    l.append(l1)
    l1= []

enter n15
enter n22
enter the number2
enter the number5
enter the number9
enter the number6
enter the number8
enter the number5
enter the number8
enter the number6
enter the number8
enter the number

In [21]:
l

[['2', '5'], ['9', '6'], ['8', '5'], ['8', '6'], ['8', '']]

In [24]:
# x = print
# x ke andar print ki definition chli jaegi

SyntaxError: invalid syntax (587338622.py, line 4)

In [25]:
x= print
print(x)

<built-in function print>

In [26]:
x = len
print(x)

<built-in function len>

In [28]:
x = print(len('hi'))
print(x)

2
None

In [29]:
print(print())

None

In [30]:
x = 50
y = 50
print(id(x))

140728964938056

In [31]:
print(id(y))

140728964938056

In [32]:
l = [1,2,3]
# in this there are 4 object
print(id(l[0]))

140728964936488

In [33]:
print(id(l))

2281245181312

In [34]:
l= [1,'hi',2]
m= [1,'hi',2]
k=l

In [35]:
print(id(l))
print(id(m))
print(id(k))

2281244109248
2281242827264
2281244109248

In [36]:
print(id(l[0]))
print(id(m[0]))

140728964936488
140728964936488

In [37]:
n = 5
x = 9
for i in range(1,n+1):
    p=x 
    for j in range(1,n+1-i+1):
        print(p,end= " ")
        p=p-2
    print()
    x=x-1

9 7 5 3 1
8 6 4 2
7 5 3
6 4
5

In [41]:
x= 5
n = 9
for i in range(1,x+1):
    p=n
    for j in range(1,x+1-i+1):
        print(p,end=" ")
        p=p-1
    print()
    n=n-2

9 8 7 6 5
7 6 5 4
5 4 3
3 2
1

In [45]:
x=6
n=1
for i in range(1,x+1):
    for j in range(1,i+1):
        print(n,end=' ')
        if n==1:
            n=0
        else:
            n=1
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1
0 1 0 1 0 1

In [60]:
n = 5
for i in range(1,n+1):
    z = 4
    for j in range(1,i+1):
        print(i,end=' ')
        i+=z
        z-=1
    print()

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [64]:
n = 5
x=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(x,end=' ')
        x+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [65]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5